/* NAVBAR */
nav {
	background-color: #fff;
	-webkit-box-shadow: none;
}

nav ul a {
	color: #ee6e73;
}

h3 {
	line-height: 50%;
	font-weight: 300;
}

/* INTRO */
img {
	height: 200px;
	/*width: 200px;*/
}

#about-content {
	text-align: justify;
}

/* PROJECTS */
#projects img {
	opacity: 0.5;
}

#projects img:hover {
	opacity: 1;
}

.card {
	color: grey;
}

.card .card-image .card-title {
	color: grey;
}

/* CONTACT */
.btn {
	background-color: white;
	color: pink;
}

.btn:hover {
	background-color: white;
}

input {
	background-color: grey;
}

.contact-icons {
	width: 62px;
    height: 62px;
    opacity: 0.5;
}
